workingdir/
results/
test.py
workspace.py
*.FCBak
evaluation/
password.txt
__pycache__/
WingSolver_CFDTest.py
WingSolver_Test.py
AeroFoil.FCMacro
AeroFoil.FCMacro.manifest
AeroFoil.svg
FlyingWingAutoSolve_newParamater(Copy).FCStd
test.FCMacro
AeroFoil_UI_Files/AeroFoil_CSVInput_Dialog.ui
AeroFoil_UI_Files/AeroFoil_CurvesInput_Dialog.ui
AeroFoil_UI_Files/AeroFoil_DATInput_Dialog.ui
AeroFoil_UI_Files/AeroFoil_FileLoad_Dialog.ui
AeroFoil_UI_Files/AeroFoil_Final_Dialog.ui
AeroFoil_UI_Files/AeroFoil_Initial_Dialog.ui
AeroFoil_UI_Files/AeroFoil_Math_Functions_Box.ui
AeroFoil_UI_Files/AeroFoil_mfb_img.gif
AeroFoil_UI_Files/AeroFoil_NACA4Digit_Dialog.ui
AeroFoil_UI_Files/AeroFoil_NACA5Digit_Dialog.ui
AeroFoil_UI_Files/AeroFoil_PointsInput_Dialog.ui
